/* box sizing */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* System Fonts with system-ui */
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

/* body */
body {
  display: flex;
  flex-direction: column;

  height: 100vh;

  margin: 0;
  padding: 0;

  background-color: var(--color-white);
}

/* custom effects */
.visible {
  opacity: 1;
  transition: opacity 0.3s;
}

.slide {
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.unselectable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* variables */
:root {
  --border: 1px solid black;
  --color-black: #434242;
  --color-white: #f3efe0;
  --color-green: #22a39f;
  --transition: background-color 0.2s, color 0.2s;
}

/* player select */
.player-select {
  z-index: 99;
  height: calc(100% - 50px);

  background-color: var(--color-black);

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: transform 0.3s;
}

.main {
  display: flex;
}

.main > div:nth-child(1) {
  width: 80px;
  height: 80px;

  background-image: url("./images/human.svg");
  transition: background-image 0.2s;
}

.main > div:nth-child(2) {
  width: 80px;
  height: 80px;

  background-image: url("./images/robot.svg");
  transition: background-image 0.2s;
}

.main > div:nth-child(1):hover {
  background-image: url("./images/human-green.svg");
  transition: background-image 0.2s;
}

.main > div:nth-child(2):hover {
  background-image: url("./images/robot-green.svg");
  transition: background-image 0.2s;
}

/* game */
.game {
  position: relative;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* players */
.players {
  display: flex;
  justify-content: space-between;

  width: 300px;

  position: relative;
}

.player {
  width: 150px;
  height: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 16px;

  transition: transform 0.5s;
}

.result {
  position: absolute;

  width: 300px;
  height: 50px;

  background-color: var(--color-green);
  color: var(--color-white);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.2s;
}

.result.visible {
  opacity: 1;
  transition: opacity 0.2s;
}

/* an indicator to determine whose turn */
.highlighted {
  background-color: var(--color-black);
  color: var(--color-white);
  transform: translateY(-10px);
  transition: var(--transition), transform 0.3s;
}

/* board */
.tile:nth-child(1),
.tile:nth-child(2),
.tile:nth-child(3) {
  border-bottom: var(--border);
}

.tile:nth-child(7),
.tile:nth-child(8),
.tile:nth-child(9) {
  border-top: var(--border);
}

.tile:nth-child(1),
.tile:nth-child(4),
.tile:nth-child(7) {
  border-right: var(--border);
}

.tile:nth-child(3),
.tile:nth-child(6),
.tile:nth-child(9) {
  border-left: var(--border);
}

.board {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/* buttons */
.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  width: 300px;
  height: 50px;

  background: none;

  border: none;

  font-size: 20px;
}

.buttons button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  transition: var(--transition);
}

.buttons button:nth-child(1) {
  border-bottom: 1px solid var(--color-black);
}

/* footer */
footer {
  height: 50px;

  background-color: var(--color-black);
  color: var(--color-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 14px;
}
